@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
  --brand-color-blue: #51d6ee;
  --brand-color-purple: #885def;
  --primary-text-color: #fafafa;
  --secondary-text-color: #ececec;
  --background-black: '#0E0E0E';
  --background-grey: '#141414';
}

/* Basic structure */

html,
body {
  font-family: 'Roboto', sans-serif;
  color: var(--secondary-text-color);
  height: 100%;
  width: 100%;
}

main {
  letter-spacing: 0.05em;
  line-height: 32px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 10%;
}

section {
  width: 100%;
}

section:not(:first-of-type) {
  margin-bottom: 40px;
}

#background {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
}

/* Section styles */

.callout {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 70%;
}

.callout__logo {
  font-size: 24px;
  letter-spacing: -10px;
  margin: -5% -5%;
  position: absolute;
  top: 0;
  right: 0;
}

.callout__header {
  font-size: 48px;
  line-height: 65px;
  color: var(--primary-text-color);
}

.callout__button-margins {
  margin-top: 40px;
  margin-bottom: 10px;
}

.about-me .about-me__development {
  margin-bottom: 40px;
}

.about-me .about-me__personal {
  font-size: 14px;
}

.experience-list {
  list-style: none;
}

.experience-list .experience-list__list-header {
  border-bottom: 2px solid var(--brand-color-purple);
  display: inline-block;
  font-size: 18px;
  letter-spacing: 0.1em;
  margin-bottom: 10px;
}

.experience-list .experience-list__paragraph {
  margin-bottom: 10px;
}

.experience-list .experience-list__paragraph:last-of-type {
  margin-bottom: 25px;
}

.technologies__list li::before {
  content: '-';
  margin-right: 5px;
}

.technologies__list {
  margin-bottom: 20px;
}

.technologies__svg-icon {
  transform: translate(0, 25%);
  height: 1.3em;
  width: 1.3em;
}

/* Utility classes */

.text--normal-spaced {
  letter-spacing: normal;
}

.text--bold {
  font-weight: 700;
}

.text--blue {
  color: var(--brand-color-blue);
}

.text--purple {
  color: var(--brand-color-purple);
}

.section-header {
  color: var(--primary-text-color);
  display: inline-block;
  font-size: 24px;
  line-height: 65px;
  letter-spacing: 0.1em;
}

.section-header::before {
  border-top: 2px solid var(--brand-color-blue);
  content: '';
  display: block;
  margin-left: -31%;
}

.button--blue {
  background-color: transparent;
  border: var(--brand-color-blue) solid 2px;
  border-radius: 5px;
  color: var(--brand-color-blue);
  padding: 5px 20px;
}

.full-width {
  width: 100%;
}

.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
