@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
  --brand-color-blue: #2ee5c6;
  --brand-color-purple: #8366ff;
  --primary-text-color: #fafafa;
  --secondary-text-color: #ececec;
  --background-black: #0e0e0e;
  --background-grey: #141414;
}

/* Basic structure */

html,
body {
  background-color: var(--background-black);
  color: var(--secondary-text-color);
  font-family: 'Roboto', sans-serif;
  height: 100%;
  width: 100%;
}

main {
  letter-spacing: 0.05em;
  line-height: 32px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 10%;
}

section {
  width: 100%;
}

section:not(:first-of-type) {
  margin-bottom: 40px;
}

#background {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
}

/* Section styles */

.callout {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 70%;
}

.callout__header {
  font-size: 48px;
  line-height: 65px;
  color: var(--primary-text-color);
}

.callout__button {
  margin-top: 40px;
  margin-bottom: 10px;
  max-width: 300px;
}

.about-me .about-me__development {
  margin-bottom: 40px;
}

.about-me .about-me__personal {
  font-size: 14px;
}

.experience-list {
  list-style: none;
}

.experience-list .experience-list__list-header {
  border-bottom: 2px solid var(--brand-color-purple);
  display: inline-block;
  font-size: 18px;
  letter-spacing: 0.1em;
  margin-bottom: 10px;
}

.experience-list .experience-list__paragraph {
  margin-bottom: 10px;
}

.experience-list .experience-list__paragraph:last-of-type {
  margin-bottom: 25px;
}

.technologies__list li::before {
  content: '-';
  margin-right: 5px;
}

.technologies__list {
  margin-bottom: 20px;
}

.technologies__more {
  transition: height 1s;
  overflow: hidden;
}

.technologies__more .technologies__more-intro-paragraph {
  margin-bottom: 20px;
}

.contact-me {
  display: flex;
  justify-content: space-between;
  margin: 20px auto 80px auto;
  max-width: 450px;
}

.contact-me span {
  font-size: 32px;
}

/* Utility classes */

.text--normal-spaced {
  letter-spacing: normal;
}

.text--bold {
  font-weight: 700;
}

.text--blue {
  color: var(--brand-color-blue);
}

.text--purple {
  color: var(--brand-color-purple);
}

.section-header {
  color: var(--primary-text-color);
  display: inline-block;
  font-size: 24px;
  line-height: 65px;
  letter-spacing: 0.1em;
}

.section-header::before {
  border-top: 2px solid var(--brand-color-blue);
  content: '';
  display: block;
  margin-left: -31%;
}

.button--blue {
  background-color: transparent;
  border: var(--brand-color-blue) solid 2px;
  border-radius: 5px;
  color: var(--brand-color-blue);
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  line-height: normal;
  padding: 8px 20px;
}

.button--icon span {
  font-size: 24px;
  position: relative;
  top: 3px;
}

.full-width {
  width: 100%;
}

.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.hidden {
  display: none;
}

.toggle {
  display: none;
}

.toggle:not(:checked) + .toggle-controls > .toggle-on {
  display: none;
}

.toggle:checked + .toggle-controls > .toggle-on {
  display: block;
}

.toggle:not(:checked) + .toggle-controls > .toggle-off {
  display: block;
}

.toggle:checked + .toggle-controls > .toggle-off {
  display: none;
}

.toggle:not(:checked) + .toggle-controls > .toggle__container {
  display: none;
  height: 0;
}

.toggle:checked + .toggle-controls > .toggle__container {
  display: block;
}

/* Responsive rules */

@media only screen and (max-width: 768px) and (min-width: 426px) {
  .mobile {
    display: none;
  }
}

@media only screen and (min-width: 769px) {
  .mobile {
    display: none;
  }

  .tablet {
    display: none;
  }
}
